<%- include('partials/_header');%>
    <!-- Testing Google Maps API -->
  </head>
  <body>
    <main class="container">
      <div class="left">
        <div class="appName">
          <header>
            <h1>Maps</h1>
          </header>
        </div>

        <div id="map"></div>
      </div>

      <div class="right">
        <h3>Maps List</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody id="maps">
            <tr>
              <td>Places to go</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
