<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Fonts -->

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/user.css" type="text/css" />

    <!-- External JS (Google Maps API)-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdbNYOtKimjrLw5o-CH7qFtjNwbN_SaM&libraries=places"
      async
      defer
    ></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/load_map.js"></script>
    <script type="text/javascript" src="/scripts/save_map.js"></script>
    <script type="text/javascript" src="/scripts/add_point.js"></script>
    <script type="text/javascript" src="/scripts/create_map.js"></script>
    <script type="text/javascript" src="/scripts/delete_point.js"></script>

    <!-- Testing Google Maps API -->
  </head>
  <body>
    <main class="container">
      <div class="top">
        <div class="user">
          <div>
            <header>
              <h1><%= first_name %> <%= last_name %></h1>
            </header>
          </div>
          <div>
            <p>User info: <%= email %></p>
          </div>
        </div>

        <div class="create">
          <form action="/">
            <input type="submit" value="Create a new map" />
          </form>
        </div>
      </div>

      <div class="bottom">
        <h3>Maps List</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="maps"></tbody>
        </table>
      </div>
      <div id="map"></div>
    </main>
  </body>
</html>
