<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- Fonts & Icons -->
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/eef3fdefd6.js" crossorigin="anonymous"></script>

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/user.css" type="text/css" />

    <!-- External JS (Google Maps API)-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdbNYOtKimjrLw5o-CH7qFtjNwbN_SaM&libraries=places"
      async
      defer
    ></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/load_map.js"></script>
    <script type="text/javascript" src="/scripts/save_map.js"></script>
    <script type="text/javascript" src="/scripts/add_point.js"></script>
    <script type="text/javascript" src="/scripts/create_map.js"></script>
    <script type="text/javascript" src="/scripts/delete_point.js"></script>
    <script type="text/javascript" src="/scripts/map_filter.js"></script>

    <!-- Testing Google Maps API -->
  </head>
  <script>
    // set UserID to appVars Obj
    window.appVars = {userID: userID};
  </script>
  <body>
    <main class="container">
      <div class="top">
        <div class="user">
          <div>
            <header>
              <h1><%= first_name %> <%= last_name %></h1>
            </header>
          </div>
          <div>
            <p>User info: <%= email %></p>
          </div>
        </div>

        <div class="create">
          <form action="/">
            <button type="submit" id="createbtn">
              <i class="far fa-plus-square"></i> New/Edit Map
            </button>
          </form>
        </div>
      </div>

      <div class="bottom">
        <div class="bottomtop">
          <div>
            <h3>Maps List</h3>
          </div>
          <div>
            <select id="filter" name="filter">
              <option value="all">All</option>
              <option value="favourites">Favourites</option>
              <option value="contributions">Contributions</option>
            </select>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id="maps" class="profile"></tbody>
        </table>
      </div>
      <div class="mapName">
        <header>
          <h1 id="title" contenteditable="true"></h1>
        </header>
      </div>
      <div id="map"></div>
    </main>
  </body>
</html>
