html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #D2482C;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background: #000000e0;
  font-family: 'Big Shoulders Stencil Text', cursive;

}

.left {
  height: 100%;
  width: 100%;
  background: #000000e0;
  margin-right: 30%;
}

.appName {
  height: 15%;
  display: flex;
  justify-content: center;
  color: #D2482C

}

.mapName header h1 {
  height: 100%;
  text-align: center;
  margin-top: 50px;
}

.right {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  right: 0;
  /* background-color: rgb(128, 54, 54); Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: #352d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 85%;
}

/* .table {
  border: 1px solid black;
} */

table, th {
  border-bottom: 1px solid #D2482C;
  width: 80%;
  font-size: large;
  color: white;
  letter-spacing: 2px;
}

th, td {
  text-align: center;
  padding:4%;
}
.left input[type=text] {
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.profile {
  display: flex;
  justify-content: flex-end;
}

#title {
  padding-left: 5%;
}
